<table class="container content ">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last" style="padding-top: 0px;">
            <table class="twelve columns last">
              <tr>
                <td class="panel heading red">
                  <h2>Faculty / Staff Awards and Honors</h2>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="six sub-columns text-pad vertical-divider">
                  <% faculty_even.each_with_index do |fac, i| %>
                    <%= image_tag fac.img, class: "center" %>
                    <h3>
                      <%= a_href("faculty_even", i) %>
                        <%= fac.title %>
                      <%= end_link %>
                    </h3>
                    <% if  i < faculty_even.size - 1 %>
                      <p class="border-bottom"><%= fac.text %></p>
                    <% end %>
                    <% if  i == faculty_even.size - 1 %>
                      <p><%= fac.text %></p>
                    <% end %>
                  <% end %>
                </td>
                <td class="six sub-columns text-pad">
                  <% faculty_odd.each_with_index do |fac, i| %>
                    <%= image_tag fac.img, class: "center" %>
                    <h3>
                      <%= a_href("faculty_odd", i) %>
                        <%= fac.title %>
                      <%= end_link %>
                    </h3>
                    <% if  i < faculty_odd.size - 1 %>
                      <p class="border-bottom"><%= fac.text %></p>
                    <% end %>
                    <% if  i == faculty_odd.size - 1 %>
                      <p><%= fac.text %></p>
                    <% end %>
                  <% end %>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>