<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last" style="padding-top: 0px;">
            <table class="twelve columns last">
              <tr>
                <td class="panel heading yellow">
                  <h2>Alumni Awards and Honors</h2>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last border-bottom">
            <table class="twelve columns">
              <tr>
                <% alumni[0..1].each do |alum| %>
                  <td class="two sub-columns text-pad">
                    <%= image_tag alum.img %>
                  </td>
                  <td class="four sub-columns">
                    <p class="link">
                      <%= tag :a, :href => "#{alum.url + google_utm('alumni_awards')}" %>
                        <%= alum.title %>
                    </p>
                  </td>
                <% end %>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <% alumni[2..3].each do |alum| %>
                  <td class="two sub-columns text-pad">
                    <%= image_tag alum.img %>
                  </td>
                  <td class="four sub-columns">
                    <p class="link">
                      <%= link_to alum.title, alum.url %>
                    </p>
                  </td>
                <% end %>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>