<table class="row content blue">
  <tr>
    <td class="center" align="center">
      <center>
        <table class="container">
          <tr>
            <td class="wrapper last" style="padding-top: 0px !important;">
              <table class="twelve columns">
                <tr>
                  <td class="panel heading gold">
                    <h2>
                      Spotlight: <%= spotlight.header %>
                    </h2>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="text-pad">
                  <%= a_href("spotlight") %>
                    <%= image_tag spotlight.img %>
                  <%= end_link %>

                  <img src="" />
                  <br>
                  <h3 class="lead">
                    <%= a_href("spotlight") %>
                      <%= spotlight.title %>
                    <%= end_link %>
                  </h3>
                  <p class="lead">
                    <%= spotlight.text %>
                  </p>
                </td>
                <td class="expander">
                  <%= tag :img, :src => "#{track_opens_url}" %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
