<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last" style="padding-top: 0px;">
            <table class="twelve columns">
              <tr>
                <td class="panel heading green">
                  <h2>Student Awards and Honors</h2>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <% students.each_with_index do |student,i| %>
        <table class="row">
          <tr>
            <td class="wrapper last border-bottom">
              <table class="twelve columns">
                <tr>
                  <td class="three sub-columns text-pad">
                    <%= image_tag student.img %>
                  </td>
                  <td class="nine sub-columns last">
                    <h3>
                      <%= a_href("students", i) %>
                        <%= student.title %>
                      <%= end_link %>
                    </h3>
                    <p><%= student.text %></p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      <% end %>
    </td>
  </tr>
</table>