<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last" style="padding-top: 0px;">
            <table class="twelve columns last">
              <tr>
                <td class="panel heading yellow">
                  <h2>Alumni Awards and Honors</h2>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <% alumni.each_with_index do |alum,i| %>
        <table class="row">
          <tr>
            <td class="wrapper last border-bottom">
              <table class="twelve columns">
                <tr>
                  <td class="four sub-columns text-pad">
                    <%= image_tag alum.img %>
                  </td>
                  <td class="eight sub-columns text-pad-right last">
                    <h3>
                      <%= a_href("alumni", i) %>
                        <%= alum.title %>
                      <%= end_link %>
                    </h3>
                    <p><%= alum.text %></p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      <% end %>
    </td>
  </tr>
</table>