---
layout: ink-mabd
data_file: meetDragonAccepted
---

<table class="container">
  <tr>
    <td>
      <table class="row light-grey">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="no-pad label"><p><%= data.winter2016.term %></p></td>
                <td class="no-pad icon" width="20">
                  <% link_to "#{data.winter2016.facebook}" do %>
                    <img class="icon" style="display: inline;" src="http://drexel.edu/~/media/Images/biomed/email/facebook_icon_15x15.ashx" width="15" height="15" alt=" " />
                  <% end %>
                </td>
                <td class="no-pad icon" width="20">
                  <% link_to "#{data.winter2016.linkedin}" do %>
                    <img class="icon" style="display: inline;" src="http://drexel.edu/~/media/Images/biomed/email/linkedin15x15.ashx" width="15" height="15" alt=" " />
                  <% end %>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container"> <!-- Styles go on the row -->
  <tr>
    <td> <!-- Center the container -->
        <table class="row blue"> <!-- Container restricts the content width -->
          <tr>
            <td class="wrapper last"> <!-- Wrapper stays on the inner table -->
              <table class="twelve columns">
                <tr>
                  <td class="center">
                    <center>
                      <%= home_link %>
                        <img class="center logo" src="http://drexel.edu/~/media/Images/biomed/email/Biomed_TwoLine_WHITE_Gold.ashx" />
                      <%= end_link %>
                    </center>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<table class="container"> <!-- Styles go on the row -->
  <tr>
    <td> <!-- Center the container -->
        <table class="row gold"> <!-- Container restricts the content width -->
          <tr>
            <td class="wrapper last"> <!-- Wrapper stays on the inner table -->
              <table class="twelve columns">
                <tr>
                  <td class="center">
                    <center>
                      <span class="heading">Meet a BIOMED Dragon</span>
                    </center>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last no-pad">
            <table class="twelve columns">
              <tr>
                <td class="text-pad">
                <p></p>
                  <p>
                    Dear Accepted BIOMED Student:
                  </p>
                   <p>
                    Congratulations on your admission to the Biomedical Engineering undergraduate program at Drexel University.  We are very excited to welcome the School of Biomedical Engineering’s 2016 incoming class of intelligent and enthusiastic students.
                  </p>
                  <p>
                    I am writing to remind you about our upcoming <strong>Accepted Students Days</strong> which are scheduled for <strong>Saturday April 9th</strong> and <strong>Sunday April 17th</strong>.  If you have already registered for one of these days, you do not need to do anything else.  If you haven’t already received your invitation - you are welcome to register by calling 1-800-2DREXEL or <a href="http://drexel.edu/undergrad/visit/events/accepted/">visit the website</a> to learn more.
                  </p>
                  <p>
                    At Accepted Students Day you will have the opportunity to meet many of our faculty and current BIOMED students and participate in a hands on, interactive biomedical engineering activity designed to introduce you to the challenges and discoveries that biomedical engineers are a part of every day.  Meet one of our current BIOMED Dragons now…
                  </p>
                  <!-- <p><strong>MS in Biomedical Engineering with Graduate Co-op option</strong></p> -->
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper">
            <table class="four columns">
              <tr>
                <td class="center">
                  <center>
                    <p class="center">
                      <a href="http://drexel.edu/biomed/academics/undergraduate-programs/clinical-immersion/evan-lynn/"><img class="center" src="http://drexel.edu/~/media/Images/biomed/email/evan-lynn.aspx"></a>
                    </p>
                  </center>
                </td>
                <td class="expander">
                  <%= tag :img, :src => "#{track_opens_url}" %>
                </td>
              </tr>
            </table>
          </td>
          <td class="wrapper last">
            <table class="eight columns">
              <tr>
                <td class="text-pad">
                  <p>
                    "When searching for my first and only Co-op, I wanted an experience that would afford me the opportunity to see the hospital through the eyes of someone other than a volunteer, and an experience that would expose me to the various medical needs evident in this environment. I was interested in both medical device development and a career in medicine, and found the perfect co-op to satisfy both these needs..."
                    <br><br>
                    <strong>&mdash; Evan Lynn</strong><br>
                    <em>BS Student, Biomaterials and Tissue Engineering Concentration</em>
                  </p>
                  <table class="button round success">
                    <tr>
                      <td>
                        <a href="http://drexel.edu/biomed/academics/undergraduate-programs/clinical-immersion/evan-lynn?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=clinicaldesign&amp;utm_campaign=MeetABiomedDragonAccepted">Read Evan's Full Profile</a>
                      </td>
                    </tr>
                  </table>
                  <br>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last no-pad">
            <table class="twelve columns">
              <tr>
                <td class="text-pad">
                <p>

                </p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <table class="row">
         <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="text-pad">
                  <p><strong>Contact Information</strong></p>
                  <p>It should be a great event.  I am sure it will be enjoyable and productive and I look forward to seeing you there.  In the meantime, if you have any questions about our undergraduate program please feel free to contact me through by email at: <a href="mailto:glasercb@drexel.edu">glasercb@drexel.edu</a> or 215-895-2215.</p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<%= partial "newsletter-footer" %>