---
layout: ink-mabd
data_file: meetDragon
---

<table class="container">
  <tr>
    <td>
      <table class="row light-grey">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="no-pad label"><p><%= data.winter2016.term %></p></td>
                <td class="no-pad icon" width="20">
                  <% link_to "#{data.winter2016.facebook}" do %>
                    <img class="icon" style="display: inline;" src="http://drexel.edu/~/media/Images/biomed/email/facebook_icon_15x15.ashx" width="15" height="15" alt=" " />
                  <% end %>
                </td>
                <td class="no-pad icon" width="20">
                  <% link_to "#{data.winter2016.linkedin}" do %>
                    <img class="icon" style="display: inline;" src="http://drexel.edu/~/media/Images/biomed/email/linkedin15x15.ashx" width="15" height="15" alt=" " />
                  <% end %>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container"> <!-- Styles go on the row -->
  <tr>
    <td> <!-- Center the container -->
        <table class="row blue"> <!-- Container restricts the content width -->
          <tr>
            <td class="wrapper last"> <!-- Wrapper stays on the inner table -->
              <table class="twelve columns">
                <tr>
                  <td class="center">
                    <center>
                      <%= home_link %>
                        <img class="center logo" src="http://drexel.edu/~/media/Images/biomed/email/Biomed_TwoLine_WHITE_Gold.ashx" />
                      <%= end_link %>
                    </center>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<table class="container"> <!-- Styles go on the row -->
  <tr>
    <td> <!-- Center the container -->
        <table class="row gold"> <!-- Container restricts the content width -->
          <tr>
            <td class="wrapper last"> <!-- Wrapper stays on the inner table -->
              <table class="twelve columns">
                <tr>
                  <td class="center">
                    <center>
                      <span class="heading">Meet a BIOMED Dragon</span>
                    </center>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last no-pad">
            <table class="twelve columns">
              <tr>
                <td class="text-pad">
                <p></p>
                  <p>
                    Dear Applicant:
                  </p>
                   <p>
                    Meet a BIOMED Dragon and learn about her experience as Biomedical Engineering Master’s student at the School of Biomedical Engineering, Science and Health Systems at Drexel University.
                  </p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="four columns">
              <tr>
                <td class="center">
                  <center>
                    <img class="center" src="http://drexel.edu/~/media/Images/biomed/people/aarti-kamath">
                  </center>
                </td>
                <td class="expander">
                  <%= tag :img, :src => "#{track_opens_url}" %>
                </td>
              </tr>
            </table>
          </td>
          <td class="wrapper">
            <table class="eight columns">
              <tr>
                <td class="text-pad">
                  <p><small><em>MS in Biomedical Engineering with Graduate Co-op option</em></small></p>
                  <p>
                    Hi! My name is Aarti Kamath and I am a master’s student in biomedical engineering at Drexel University. I started in the MS program in September 2014 and I am now months from graduation! I joined the biomedical engineering program in order to learn about medical devices, and today, as I look back I am sure I made the right choice. The curriculum of the program allowed me the flexibility to choose the courses that focused on my area of interest and that are crucial in propelling my career in the area of medical device development.
                  </p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last no-pad">
            <table class="twelve columns">
              <tr>
                <td class="text-pad">
                  <p>
                    I realize that my experience at Drexel has been a little different than that of my friends at different universities - I will be graduating with a MS degree AND also with almost 7 months of hands on professional experience at a world-renowned pharmaceutical device company. I completed the graduate co-op options offered in the MS in biomedical engineering and biomedical science program and found a paid co-op (internship) position with B.Braun Medical Inc. in Allentown, PA. During my co-op I was able to apply what I learned in the classroom and gain many additional new skills while making significant contribution to the healthcare industry. After graduation I will be continuing on as a full time employee with B. Braun Medical Inc.
                  </p>
                  <p><strong>About Graduate Co-op Option at Drexel University</strong></p>
                  <p>This optional program enables students to accept paid positions in their career fields - and receive academic credit. Employment opportunities are available in 3 or 6 month installments; the program is an option for both domestic and international students. Additional information can be found on the <a href="http://drexel.edu/scdc/co-op/graduate/">SCDC Graduate Co-op website</a>.</p>
                  <p>Our co-op option is an ideal choice for students who are interested in pursuing industry employment after graduation.</p>
                  <p>If you have any questions about MS in Biomedical Engineering or Biomedical Science or the graduate co-op option please contact: Natalia Broz, Associate Director for Graduate Programs School of Biomedical Engineering, Science and Health Systems at <a href="mailto:njb33@drexel.edu">njb33@drexel.edu</a></p>
                  <p>To apply please visit: <a href="http://drexel.edu/grad/apply/checklist/">http://drexel.edu/grad/apply/checklist/</a>.</p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<%= partial "newsletter-footer" %>