---
layout: ink-mabd
data_file: meetDragon
---

<table class="container">
  <tr>
    <td>
      <table class="row light-grey">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="no-pad label"><p><%= data.winter2016.term %></p></td>
                <td class="no-pad icon" width="20">
                  <% link_to "#{data.winter2016.facebook}" do %>
                    <img class="icon" style="display: inline;" src="http://drexel.edu/~/media/Images/biomed/email/facebook_icon_15x15.ashx" width="15" height="15" alt=" " />
                  <% end %>
                </td>
                <td class="no-pad icon" width="20">
                  <% link_to "#{data.winter2016.linkedin}" do %>
                    <img class="icon" style="display: inline;" src="http://drexel.edu/~/media/Images/biomed/email/linkedin15x15.ashx" width="15" height="15" alt=" " />
                  <% end %>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container"> <!-- Styles go on the row -->
  <tr>
    <td> <!-- Center the container -->
        <table class="row blue"> <!-- Container restricts the content width -->
          <tr>
            <td class="wrapper last"> <!-- Wrapper stays on the inner table -->
              <table class="twelve columns">
                <tr>
                  <td class="center">
                    <center>
                      <%= home_link %>
                        <img class="center logo" src="http://drexel.edu/~/media/Images/biomed/email/Biomed_TwoLine_WHITE_Gold.ashx" />
                      <%= end_link %>
                    </center>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<table class="container"> <!-- Styles go on the row -->
  <tr>
    <td> <!-- Center the container -->
        <table class="row gold"> <!-- Container restricts the content width -->
          <tr>
            <td class="wrapper last"> <!-- Wrapper stays on the inner table -->
              <table class="twelve columns">
                <tr>
                  <td class="center">
                    <center>
                      <span class="heading">Meet a BIOMED Dragon</span>
                    </center>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last no-pad">
            <table class="twelve columns">
              <tr>
                <td class="text-pad no-pad-bottom">
                <p></p>
                  <p>
                    Dear Accepted Student:
                  </p>
                   <p>
                    Learn about our <strong>Joint Master's of Science (MS) Program in Biomedical Engineering between Shanghai Jiao Tong University in China and Drexel University</strong>, and meet a BIOMED Dragon to read about his experience as a biomedical engineering master’s student at the School of Biomedical Engineering, Science and Health Systems at Drexel University.
                  </p>
                  <p><strong>MS in Biomedical Engineering with Graduate Co-op option</strong></p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper">
            <table class="eight columns">
              <tr>
                <td class="text-pad">
                  <p>
                    My name is Jiajun Wang. I am an international student (originally from China) completing a master’s degree in biomedical engineering at Drexel University. I started the program in 2014, and this is my first time studying abroad. I am happy to report that living and studying at Drexel is a really wonderful experience! Various activities held on campus and in the city of Philadelphia have enriched my graduate student experience and courses offered at the School keep fueling my interest in the field of biomedical engineering and technology. In my favorite course, BMES 596-Clinical Practicum, we were even given an opportunity to step into an operating room to observe the process of actual surgeries on a weekly basis! I was able to witness the application of medical equipment, including robotic surgery, in a real-life scenario.
                  </p>

                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
          <td class="wrapper last">
            <table class="four columns">
              <tr>
                <td class="center">
                  <center>
                    <img class="center" src="http://drexel.edu/~/media/Images/biomed/email/Jiajun-Wang.aspx">
                    <p class="center"><small>Jiajun Wang</small></p>
                  </center>
                </td>
                <td class="expander">
                  <%= tag :img, :src => "#{track_opens_url}" %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last no-pad">
            <table class="twelve columns">
              <tr>
                <td class="text-pad">
                  <p>
                    To me, the most important and rewarding aspect of my graduate study so far has been the opportunity and flexibility to decide how to develop my particular course of study. I decided to pursue a 6-month international co-op for my professional development, which I completed last summer in Shanghai, China. I worked in a medical healthcare company, where I was responsible for managing the function requirements of medical post-processing software. Based on my co-op experience, I plan to devote myself to the development of medical software after graduation, particularly, for improving the performance of reconstructing 3D images. To best prepare myself for this, I am currently taking courses to deepen my knowledge of mathematical algorithms in medical applications.
                  </p>
                  <p><strong>About Graduate Co-op Option at Drexel University</strong></p>
                  <p>This optional program enables students to accept paid positions in their career fields &mdash; and receive academic credit. Employment opportunities are available in 3 or 6 month installments; the program is an option for both domestic and international students. Additional information can be found on the <a href="http://drexel.edu/scdc/co-op/graduate/">SCDC Graduate Co-op website</a>.</p>
                  <p>Our co-op option is an ideal choice for students who are interested in pursuing industry employment after graduation.</p>
                  <p><strong>About the Joint Master’s of Science (MS) Program in Biomedical Engineering between Shanghai Jiao Tong University, China, and Drexel University, USA</strong></p>
                  <p>
                    Starting in Academic Year 2016, our MS students who hold particular interest in international research collaborations will have the opportunity to pursue a dual degree with the School’s international partner unit, Shanghai Jiao Tong University. Students completing this option will be able to take biomedical engineering courses at both institutions (<strong>Shanghai Jiao Tong University and Drexel University</strong>); courses are taught in English at both universities. Participants will complete a research component of their MS degrees at one of the Drexel laboratories or at the Med-X Research Institute, Shanghai Jiao Tong University, under the guidance of a joint MS thesis committee, and they will graduate the program with two MS degrees – one from Drexel University and one from Shanghai Jiao Tong University.
                  </p>
                  <p>If you have any questions about MS in Biomedical Engineering or Biomedical Science or the graduate co-op option please contact: Natalia Broz, Associate Director for Graduate Programs School of Biomedical Engineering, Science and Health Systems at <a href="mailto:njb33@drexel.edu">njb33@drexel.edu</a></p>
                  <p>To apply please visit: <a href="http://drexel.edu/grad/apply/checklist/">http://drexel.edu/grad/apply/checklist/</a>.</p>
                  <p>
                    <strong>Confirm your intent to enroll by submitting your Enrollment Form, along with the non-refundable tuition deposit, via the <a href="https://discover.drexel.edu/">Discover Drexel portal</a>.</strong>
                  </p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<%= partial "newsletter-footer" %>