---
layout: "ffe2-newsletter"
source: biomed_email
campaign: rss_newsletter
---
<style>
  p { color: #000000 !important; }
  p strong a { font-weight: bold; }
  hr { border: 0; margin-bottom: 4em; }
</style>
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader"></div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <%= home_link %>
            <img  class="float-center no-pad" align="center" src="http://drexel.edu/~/media/Images/biomed/email/biomed-logo-slim.ashx" alt="Drexel University | School of Biomed" />
          <%= end_link %>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>

<table class="row light-grey" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <h1>Latest News</h1>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <% feed.each do |item| %>
          <p><strong><%= link_me item[:title], item[:link] + gua %></strong></p>
          <p><em><%= item[:pubDate] %></em></p>
          <%= item[:description] %>

          <hr>
        <% end %>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>

