---
layout: "ink-newsletter"
data_file: "spring2016"
---
<p>

======================= <br>
Drexel BIOMED <br>
Quarterly Newsletter <br>
Read online - http://biomed.drexel.edu/labs/newsletter/spring-2016.html <br>
======================= <br><br>

Spotlight <br>
======================= <br>
<% spotlight.each do |s| %>
  <%= s.title %> <br><br>
  <%= s.text %> <br>
    <a href="#"><%= s.url %> </a>
  <br><br>
<% end %>

Student Awards and Highlights <br>
======================= <br>
<% students.each do |student| %>

  <%= student.title %> <br>
    <a href="#"><%= student.url %> </a>
  <br><br>

<% end %>

Research Report <br>
======================= <br>
<% research.each do |r| %>

  <%= r.title %>: <br>
    <%= r.text %>
  <br><br>

<% end %>


Faculty Awards and Highlights <br>
======================= <br>
<% faculty.each do |fac| %>

  <%= fac.title %> <br>

    <a href="#"><%= fac.url %> </a>
  <br><br>

<% end %>

Alumni Awards and Highlights <br>
======================= <br>
<% alumni.each do |alum| %>

  <%= alum.title %> <br>

    <a href="#"><%= alum.url %> </a>
  <br><br>

<% end %>


</p>