---
layout: ink-mabd
data_file: testDrive
---

<table class="container">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="no-pad label hide"><p>Sit in on one of our courses from the comforts of your home.</p></td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container"> <!-- Styles go on the row -->
  <tr>
    <td> <!-- Center the container -->
        <table class="row blue"> <!-- Container restricts the content width -->
          <tr>
            <td class="wrapper offset-by-two"> <!-- Wrapper stays on the inner table -->
              <table class="eight columns">
                <tr>
                  <td class="text-pad">
                    <%= home_link %>
                      <img class="center" alt=" Drexel University School of Biomedical Engineering, Science, and Health Systems" src="http://drexel.edu/~/media/Images/biomed/email/Biomed_TwoLine_WHITE_Gold.ashx" />
                    <%= end_link %>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>

<table class="container content">
  <tr>
    <td>
      <table class="row light-grey">
        <tr>
          <td class="wrapper offset-by-three no-pb">
            <table class="six columns">
              <tr>
                <td class="text-pad">
                  <p>
                    <a href="#">
                      <img class="center" alt="Take us for a test drive!" src="http://drexel.edu/~/media/Images/biomed/email/test-drive-4.aspx">
                    </a>
                  </p>
                </td>
                <td class="expander">
                  <%= tag :img, :src => "#{track_opens_url}" %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <table class="row light-grey">
        <tr>
          <td class="wrapper offset-by-two no-pt">
            <table class="eight columns">
              <tr>
                <td class="text-pad">
                  <p class="lead">
                    The School of Biomedical Engineering, Science and Health Systems at Drexel University invites you to sit in on one of our courses from the comforts of your home.
                  </p>
                  <table class="button large">
                    <tr>
                      <td>
                        <a href="#">Take us for a Test Drive!</a>
                      </td>
                    </tr>
                  </table>
                  <!-- <p><strong>MS in Biomedical Engineering with Graduate Co-op option</strong></p> -->
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper">
            <table class="eight columns">
              <tr>
                <td class="text-pad">
                  <p>
                    Dr. Kara Spiller gave a talk titled <strong>Harnessing the Inflammatory Response for Tissue Regeneration</strong>; she discussed the work her laboratory (Biomaterials and Regenerative Medicine Laboratory at Drexel University) is currently conducting to understand the mechanisms by which the inflammatory response orchestrates successful tissue regeneration, and to develop novel biomaterial strategies that apply these principles to situations in which tissue regeneration is impaired.
                  </p>
                  <p>
                    Seminar (known as BMES 864) is a first year graduate course required for all MS and PhD students; the course introduces students to faculty’s research as well as the research of local, national and international collaborators and partner institutions.
                  </p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
          <td class="wrapper last">
            <table class="four columns">
              <tr>
                <td class="center">
                  <center>
                    <p class="center">
                      <a href="#"><img class="center" alt="Portrait of Kara Spiller, PhD" src="http://drexel.edu/~/media/Images/biomed/faculty/spiller-kara.ashx"></a>
                    </p>
                    <p class="center">
                      Kara Spiller, PhD <br>
                      <em>Assistant Professor</em>
                    </p>
                  </center>
                </td>
                <td class="expander">
                  <%= tag :img, :src => "#{track_opens_url}" %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last no-pad">
            <table class="twelve columns">
              <tr>
                <td class="text-pad">
                <p>
                    Dr. Kara Spiller is an Assistant Professor in Drexel University's School of Biomedical Engineering, Science, and Health Systems. A member of the first class of Drexel's accelerated BS/PhD program, Dr. Spiller received bachelor's and master's degrees in biomedical engineering from Drexel University in 2007. As an NSF Graduate Research Fellow, she conducted her doctoral research in the design of semi-degradable hydrogels for the repair of articular cartilage in the Biomaterials and Drug Delivery Laboratory at Drexel (PI: A. Lowman) and in the Shanghai Key Tissue Engineering Laboratory of Shanghai Jiao Tong University (PI: W. Liu). After completing her PhD in 2010, she conducted research in the design of scaffolds for bone tissue engineering on a Fulbright fellowship in the Biomaterials, Biodegradables, and Biomimetics (the 3Bs) Research Group at the University of Minho in Guimaraes, Portugal (PI: R.L Reis). She then conducted postdoctoral studies towards the development of immunomodulatory biomaterials for bone regeneration in the Laboratory for Stem Cells and Tissue Engineering at Columbia University (PI: G. Vunjak-Novakovic), before returning to Drexel in 2013. Her current research interests include cell-biomaterial interactions, the design of immunomodulatory biomaterials, and international engineering education. Dr. Spiller is looking for graduate students to join her laboratory in the Fall of 2017!
                  </p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<%= partial "newsletter-footer" %>